:root{
    --building-color1: #aa80ff;
    --building-color2: #66cc99;
    --building-color3: #cc6699;
    --building-color4:#538cc6;
    --window-color1: black;
}/*Moved from bb1; the data wasn't cascasding.this is the highest level selector and makes them usable everywhere.*/
/*i think the original issue was how the parent and siblings were set up in html; hence, lack of cascading occurred.*/
/*This is why the tutorial injected the fall back colors in because the link wasn't working for bb2 and bb3.*/
*{
    border: 1px solid black;
    box-sizing: border-box;
  }
  /*trick to help visualize where elements are and their size.*/
  /*box border also keeps this border from adding size to elements.*/

  body{
    height: 100vh;
    margin: 0;ss
    overflow: hidden;
  }
/*remove default margin by making it 0. overflow setting to hide scroll bar when something extends past the viewport.*/  

.background-buildings, .foreground-buildings{
    width: 100%;
    height:100%;
    display: flex;
    align-items:flex-end;
    justify-content:space-evenly;
    position: absolute;
    top:0;
  }
.bb1{
    width: 10%; 
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.bb1a{
    width:70%;
    
    background-color: var(--building-color1);
    
  }
  .bb1-window{
      height:10%;
      background:linear-gradient(var(--building-color1), var(--window-color1));
  }
  .bb1b {
    width:80%;
    height:10%;
    background-color:var(--building-color1);
  }
  .bb1c {
    width: 90%;
    height: 10%;
    background-color:var(--building-color1);
  }
  .bb1d {
    width:100%;
    height:70%;
    background-color:var(--building-color1);
  }
  .bb2{
    width:10%;
    height: 50%;
    background-color: var(--building-color2);
  }
  .bb3{
    width: 10%;
    height:55%;
    background-color: var(--building-color3);
  }
  .bb4{
    width:11%;
    height:58%;
    background-color: var(--building-color4);
  }
  
  
  .fb1{
    width:10%;
    height:60%;
    background-color: var(--building-color4);
  }
  .fb2{
    width:10%;
    height:40%;
    background-color: var(--building-color3);
  }
  .fb3{
    width:10%;
    height:35%;
    background-color: var(--building-color1);
  }
  .fb4{
    width:8%;
    height:45%;
    background-color: var(--building-color1);
    position: relative;
    left: 10%;
  }
  .fb5{
    width:10%;
    height:33%;
    background-color: var(--building-color2);
    position: relative;
    right: 10%;
  }
  .fb6{
    width:9%;
    height:38%;
    background-color: var(--building-color3);
  }
